body {
    margin:0;
    background-color: white;
}

.navbar {
    overflow: hidden;
    background-color: #FF0000;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-radius: 25px;
  }

  .navbar a {
    float: right;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .footer {
    background-color: black;
    height: 25px;
  }