.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, rgb(0, 105, 204), rgb(38, 157, 255) 9%, rgb(0, 105, 204) 99%);
  }
  
  .signin-form__card {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 24px;
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
  }
  
  .signin-form__card h2 {
    margin-bottom: 24px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
  }
  
  .signin-form__input-container {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
  }
  
  .signin-form__input-container label {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  
  .signin-form__input-container input {
    padding: 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ddd;
    outline: none;
  }
  
  .signin-form__button-container {
    display: flex;
    justify-content: center;
  }
  
  .signin-form__button {
    padding: 12px;
    font-size: 16px;
    background-color: #0070f3;
    color: #fff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .signin-form__button:hover {
    background-color: #0063cc;
  }
  